:root {
    --black: #003300;
    --dark: #006600;
    --light: #4dff4d;
    --white: #99ff99;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
}

.content {
      max-width: 960px;
      margin: auto;
}

h1 {
    color: var(--dark);
}
div {
    width: 80%;
    background-color: var(--white);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--light);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: var(--light);
    background-color: var(--dark);
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
label {
    display: inline-block;
    width: 12em;
    text-align: right;
}
label .list {
        display: inline-block;
        width: 12em;
}
input, select {
    margin-left: 1em;
    margin-right: 0.5em;
}
input {
    width: 14em;
}
input.left {
	width: 1em;
	padding-left: 0;
}
p {
	margin-top: 0;
	margin-bottom: .5em;
}
#submit {
	margin-left: 0;
	width: 10em;
}

form span {
	color: red;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    border-color: var(--light);
    border-style: solid;
    border-width: 1px;
}

table td #image {
    border-color: inherit;
    width="250";
}

table td #title {
    background-color: var{--dark}
    border-color: inherit;
    width= 80%
}