<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} - Collection Page</title>
    <link rel="stylesheet" href="static/layout.css">
    {% endblock head %}
</head>
<header>
    <div class="content">
        {% block header %}
        <h1 align="center">Game Collection</h1>
        {% endblock header %}
    </div>
</header>
<body>
    <div class="content">
        <ul>
            <li><a href="{{url_for('index')}}">Home Page</a></li>
            <li><a href="{{url_for('collection')}}">Display Collection</a></li>
            <li><a href="{{url_for('submission')}}">Submit Game</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>