{% extends "layout.html" %}
{% block title %}Collection List{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% for game in games %}
    <p>{{ game.getTitle() }}
        <a href="{{ url_for('update') }}?gameid={{ game.getGameID() }}">Update</a>
        <a href="{{ url_for('delete') }}?gameid={{ game.getGameID() }}">Delete</a>
    </p>
    {% endfor %}
    <a href="{{url_for('index')}}">Home Page</a>
    <a href="{{url_for('collection')}}">Display Collection</a>
{% endblock %}