{% extends "layout.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
      <form method="POST" action="" enctype="multipart/form-data"
          name="registration_form" id="registration_form">
          <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password">
          </div>
      </form>
{% endblock %}