{% extends "layout.html" %}
{% block title %}Collection Display{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block linkbar %}
    {{ super() }}
{% endblock linkbar %}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data"
          name="update_form" id="update_form">
        <div>
            <label for= "title">Title:</label>
            <input type="text" name="title" id="title" value="{{ game.getTitle() }}">
            <span>*</span>
        </div>
        <div>
            <label for= "system">System</label>
            <input type="text" name="system" id="system" value="{{ game.getSystem() }}">
            <span>*</span>
        </div>
        <div>
            <label for="release_date">Release Date</label>
            <input type="text" name="release_date" id="release_date" value="{{ game.getDate() }}">
            <span>*</span>
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre" value="{{ game.getGenre() }}">
            <span>*</span>
        </div>
        <div>
            <label>Completed</label>
            {% if game.getComplete() == "Yes" %}
                <input type="radio" name="completed" id="no" value="No" class="left">No
                <input type="radio" name="completed" id="yes" value="Yes" class="left last" checked>Yes
            {% elif game.getComplete() == "No" %}
                <input type="radio" name="completed" id="no" value="No" class="left" checked>No
                <input type="radio" name="completed" id="yes" value="Yes" class="left last">Yes
            {% else %}
                <input type="radio" name="completed" id="no" value="No" class="left">No
                <input type="radio" name="completed" id="yes" value="Yes" class="left last">Yes
            {% endif %}
        </div>
        <div>
            <label>Image:</label>
            <input type="file" name="file" accept=".png, .jfif, .jpg, .jpeg">
        </div>
        <div>
            <input type="submit" value="Update">
        </div>

    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="static/validate.js"></script>
{% endblock %}